<html>
    <head>
        <title>To Do List</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>{{ category.getName }}</h1>
            </div>
            {% if tasks is not empty %}
                <p>Here are the tasks:</p>
                <ul>
                    {% for task in tasks %}
                    <li>{{ task.getDescription }} | Due: {{ task.getDueDate }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There are no tasks in the {{ category.getName }} category.</p>
            {% endif %}

            <h4>Add a Task to this Category:</h4>
            <form action='/add_tasks' method='post'>
                <input id='category_id' name='category_id' type='hidden' value='{{ category.getId }}'>

                <label for='task_id'>Select a Task</label>
                <select id='task_id' name='task_id' type='text'>
                    {% for task in all_tasks %}
                        <option value="{{ task.getId }}"> {{ task.getDescription }} | {{ task.getDueDate }} </option>
                    {% endfor %}
                </select>
                <button type='submit'>Add Task</button>
            </form>

            <p><a href="/categories/{{ category.getId }}/edit">Edit this category</a></p>
            <p><a href='/'>Home</a></p>
            <!-- <form action="/empty_category" method="post">
            <input id='category_id' name='category_id' type='hidden' value='{{ category.getId }}'>
            <button type="submit" class="btn">:()</button>
        </form> -->
        </div>
    </body>
</html>
